.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  align-content:center;
}
@media(max-width:800px){
  .container{
    flex-direction: column;
  }
}
.items-container{
  margin: 25px;

}
/* ======================================== */
body{
  padding: 25px;
}
/* ======================================== */
.heading{
  padding: 10px;
}
/* ======================================= */
h1{
  font-family: 'Diplomata SC', cursive;
}
/* ====================================== */
/* ====================================== */
/* ====================================== */
.brewery-factory{
  flex:auto;
}
.beer-pong{
  flex:auto;
}
.charlotte{
  flex:auto;
}
/* ======================================== */
/* ======================================== */
/* ======================================== */
.people-drinking{
  flex:auto;
}
.beer-garden{
  flex: auto;
}
.beer-farm{
  flex: auto;
}
/* ========================================= */
/* ========================================= */
/* ========================================= */
.red-poster{
  flex:auto;
}
.us-poster{
  flex: auto;
}
.ny-beer{
  flex:auto;
}
/* ========================================= */
/* ========================================= */
/* ========================================= */
.serving-beer{
  flex: 50%;
}
.beer-tasting{
  flex: 50%;
}
.square{
  flex: 50%;
}
/* ========================================= */
/* ========================================= */
/* ========================================= */
.cheers{
  flex: 50%;
}
.draft-beer{
  flex: 50%;
}
.outside-beer-garden{
  flex: 50%;
}
#search-state{
  align-items: center;
}

